@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

html, body {margin:0; padding:0; width:100%; height:100%;}
body {font-family:'Open Sans Condensed',sans-serif,Arial,'Helvetica Neue'; font-size:16pt;}
h1 {font-size:20pt; font-weight:bold; text-transform:uppercase;}
h2 {font-size:20pt; font-weight:normal;}
h3 {font-size:16pt; font-weight:bold; text-transform:uppercase;}
ul {margin:0; padding:0; list-style:none; text-transform:uppercase;}
a {text-decoration:underline; color:#000;}
a:hover {text-decoration:none;}

#page {position:fixed; width:100%; height:100%; border:32px solid #fff; box-sizing:border-box; overflow:hidden;}
#homepage {position:relative; width:100%; height:100%; background-image:url(/cms/upload/hintergrund/henrici_terrasse.jpg); background-size:cover; background-position:center center;}
#panoHolder {position:absolute; height:100%; top:0; left:-9999px; right:-9999px; margin:0 auto; text-align:center;}
#panoHolder > div {position:relative; height:100%; display:inline-block;}
#pano {position:relative; display:block; top:0; left:0; height:100%;}
#logo {position:fixed; top:54px; margin:0 auto; left:0; right:0; height:16%; cursor:pointer;}
#navCats {position:fixed; bottom:32px; margin:0 auto; left:0; right:0; text-align:center;}
#navCats ul {list-style:none; margin:0; padding:0;}
#navCats li {display:inline-block; padding:1%; color:#fff; font-size:22pt; border-bottom:1vh solid transparent; cursor:pointer; font-weight:700;}
#navCats li.active {border-bottom:1vh solid #fff;}
#navCats a {color:#fff; text-decoration:none;}
#navSocial {position:fixed; bottom:50px; right:120px;}
#navSocial img {height:40px; height:5vh; margin:5px;}
#navArts {display:none;}

#panoHolder .hotspot {position:absolute; top:0; left:0; height:0; cursor:pointer;}
#homepage .hotspot {position:absolute; top:0; left:0; bottom:0; right:0; margin:auto; height:20%; cursor:pointer;}

#coffee {position:absolute; top:40%; left:85%; cursor:pointer; height:16%;}

#hover1, #hover2 {position:absolute; top:0; left:0; height:0; transition:transform .6s ease-in-out; display:none; pointer-events:none;}
#homepage #hover1, #homepage #hover2 {left:0; right:0; top:0; bottom:0; margin:auto; height:20%;}
.hover1 {-webkit-transform:rotate(180deg); transform:rotate(180deg);}
.hover2 {-webkit-transform:rotate(-180deg); transform:rotate(-180deg);}

#art {position:fixed; box-sizing:border-box; top:0; left:0; width:100%; height:100vh; background-color:rgba(255, 255, 255, 0.9); z-index:12; overflow-y:auto; padding-bottom:20px;}
#artImages {float:left; height:100vh; width:50%;  display:table;}
#artImages > div { height:100%; width:100%; display:table-row;}
#artImages > div > div  {display:table-cell; box-sizing:border-box; padding:9vh 3vw 11vh 10vw; vertical-align:middle;}
#gallery img {max-width:100%; max-height:80vh; vertical-align:middle;}
#artText {float:right; width:50%; display:table; height:100%;}
#artText > div {display:table-row; height:100%;}
#artText > div > div {display:table-cell; box-sizing:border-box; height:100%; padding:8vh 8vh 8vh 4vh; vertical-align:middle;}
#artText > div > div > h3 > img {height:18px;  margin-right:6px;}
#artText > div > div > h3 + p {display:none;}
#artText > div > div > h3 + p + p {display:none;}
#artText > div > div > h3 + p + p + p {display:none;}
#artText > div > div > h3 + p + p + p + p {display:none;}
#artText > div > div > h3 + p + p + p + p + p {display:none;}
#artText > div > div > h3 + p + p + p + p + p + p {display:none;}
#artText > div > div > h3 sub {text-transform:none;}
#artText > div > div > h3.active > img {display:none;}
hr {display:block; border:none;}
#artText > div > div > hr + p {display:block;}
#artText p.linkList {display:block;}
.linkList, .linkList * {font-size:12pt; text-transform:uppercase;}

#overlay {position:fixed; box-sizing:border-box; top:0; left:0; width:0; height:0; background-color:rgba(255, 255, 255, 0.9); display:none; z-index:12; overflow-y:auto; opacity:0; padding-bottom:20px;}
#overlay.overlayActive {display:block; width:100%; height:100vh; opacity:1;}
#overlay > div {display:none; height:100%; width:100%;}
#overlay.overlayActive > div {display:block;}
#overlay > div > ul {list-style:none; margin:0; padding:0; width:100%; white-space:nowrap;}
#overlay > div > ul > li {display:inline-block; margin-left:0; padding:0; width:33%; box-sizing:border-box; vertical-align:top; text-align:center;}
#overlay > div > ul > li > div {display:inline-block; text-align:left; margin-top:24vh;}
#overlay > div > ul a {font-weight:bold;}
#overlay > div > ul ul {display:inline-block; text-align:left;}
#overlay > div > ul ul a {font-weight:normal;}

#closeButton {position:absolute; right:40px; top:40px; height:6%; cursor:pointer;}

#goLeft, #goRight {position:fixed; top:32px; width:4vw; height:100%; height:calc(100% - 64px); background:rgba(255, 255, 255, 0.6); cursor:pointer; display:none;}
#goLeft {left:32px;}
#goRight {right:32px;}
#goLeft img, #goRight img {position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; width:30%;}

.unslider {overflow:auto; margin:0; padding:0; width:100%; height:100%;}
.unslider-wrap {position:relative;}
.unslider-wrap.unslider-carousel>li{float:left; padding:0;}
.unslider li, .unslider ol, .unslider ul {list-style:none; margin:0; padding:0; border:none; text-align:center;}
.unslider-arrow {position:absolute; left:20px; z-index:2; cursor:pointer;}
.unslider-arrow.next {left:auto; right:20px;}

.unslider-nav ol {list-style:none; text-align:center;}
.unslider-nav ol li {display:inline-block; width:6px; height:6px; margin:0 4px; background:transparent; border-radius:5px; overflow:hidden; text-indent:-999em; border:2px solid #000; cursor:pointer;}
.unslider-nav ol li.unslider-active {background:#000; cursor:default;}

.clear {clear:both;}